header{
    background-color: cornflowerblue;
    color: white;
    padding: 8px 0px;
    text-align:right;
    font-size: large;
}
li{
    display: inline;
    list-style: none;
    padding: 0px 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: cornflowerblue;
    text-align: center;
    padding: 8px 0px;
    color: white;
}
.bcd input{
    font-size: 20px;
    margin: 15px 0;
    padding: 15px 10px;
}
.main{
    text-align: center;
}
